In [1]:
taxi= read.csv("Taxi.csv")

In [14]:
head(taxi)
summary(taxi)

  VendorID tpep_pickup_datetime   tpep_dropoff_datetime  passenger_count
1 2        06/28/2019 02:21:03 PM 06/28/2019 02:31:02 PM 1
2 2        12/31/2018 11:58:12 PM 01/01/2019 12:09:42 AM 6
3 2        12/31/2018 11:56:40 PM 12/31/2018 11:59:56 PM 1
4 1        12/31/2018 11:49:40 PM 01/01/2019 12:03:26 AM 1
5 2        12/31/2018 11:44:19 PM 12/31/2018 11:58:43 PM 1
6 2        12/31/2018 11:41:27 PM 12/31/2018 11:49:35 PM 1
  trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID
1 1.48          1          N                  237          140
2 2.71          1          N                  162          239
3 0.55          1          N                   62           61
4 5.10          1          N                   79           75
5 3.06          1          N                  238          161
6 0.95          1          N                  234          114
  payment_type fare_amount extra mta_tax tip_amount tolls_amount
1 1             8.0        1.0   0.5     1.50       0
2 1            10.5        0.5   0.5     3.54       0
3 2             4.5        0.5   0.5     0.00       0
4 4            15.5        0.5   0.5     0.00       0
5 2            12.5        0.5   0.5     0.00       0
6 2             5.5        0.5   0.5     0.00       0
  improvement_surcharge total_amount
1 0.3                   11.30
2 0.3                   15.34
3 0.3                    5.80
4 0.3                   16.80
5 0.3                   13.80
6 0.3                    6.80

    VendorID                 tpep_pickup_datetime
 Min.   :1.000   06/26/2018 08:45:20 PM:    2
 1st Qu.:1.000   07/03/2018 07:16:10 PM:    2
 Median :2.000   07/09/2018 10:25:46 PM:    2
 Mean   :1.616   07/10/2018 04:05:57 PM:    2
 3rd Qu.:2.000   07/13/2018 04:44:19 PM:    2
 Max.   :4.000   07/17/2018 08:24:34 PM:    2
                 (Other)               :50772
            tpep_dropoff_datetime passenger_count trip_distance
 06/27/2018 10:32:02 PM:    2     Min.   :0.000   Min.   : 0.000
 06/28/2018 09:03:55 PM:    2     1st Qu.:1.000   1st Qu.: 0.970
 06/30/2018 01:43:46 PM:    2     Median :1.000   Median : 1.600
 06/30/2018 10:41:19 AM:    2     Mean   :1.586   Mean   : 2.979
 07/01/2018 01:16:05 AM:    2     3rd Qu.:2.000   3rd Qu.: 3.020
 07/01/2018 10:45:08 PM:    2     Max.   :6.000   Max.   :64.200
 (Other)               :50772     NA's   :1       NA's   :1
   RatecodeID     store_and_fwd_flag  PULocationID    DOLocationID
 Min.   : 1.000    :    1            Min.   :  1.0   Min.   :  1.0
 1st Qu.: 1.000   N:50491            1st Qu.:114.0   1st Qu.:113.0
 Median : 1.000   Y:  292            Median :162.0   Median :162.0
 Mean   : 1.069                      Mean   :162.8   Mean   :161.8
 3rd Qu.: 1.000                      3rd Qu.:233.0   3rd Qu.:233.0
 Max.   :99.000                      Max.   :265.0   Max.   :265.0
 NA's   :1                           NA's   :1       NA's   :1
  payment_type    fare_amount         extra            mta_tax
 Min.   :1.000   Min.   :-52.00   Min.   :-4.5000   Min.   :-0.5000
 1st Qu.:1.000   1st Qu.:  6.50   1st Qu.: 0.0000   1st Qu.: 0.5000
 Median :1.000   Median :  9.50   Median : 0.0000   Median : 0.5000
 Mean   :1.316   Mean   : 13.26   Mean   : 0.3321   Mean   : 0.4973
 3rd Qu.:2.000   3rd Qu.: 15.00   3rd Qu.: 0.5000   3rd Qu.: 0.5000
 Max.   :4.000   Max.   :336.00   Max.   : 4.5000   Max.   : 0.5000
 NA's   :1       NA's   :1        NA's   :1         NA's   :1
   tip_amount       tolls_amount     improvement_surcharge  total_amount
 Min.   : -2.520   Min.   : 0.0000   Min.   :-0.3000       Min.   :-57.30
 1st Qu.:  0.000   1st Qu.: 0.0000   1st Qu.: 0.3000       1st Qu.:  8.75
 Median :  1.360   Median : 0.0000   Median : 0.3000       Median : 11.85
 Mean   :  1.886   Mean   : 0.3621   Mean   : 0.2996       Mean   : 16.65
 3rd Qu.:  2.450   3rd Qu.: 0.0000   3rd Qu.: 0.3000       3rd Qu.: 18.30
 Max.   :150.000   Max.   :32.0000   Max.   : 0.3000       Max.   :379.30
 NA's   :1         NA's   :1         NA's   :1             NA's   :1

In [15]:
totalamount = taxi$total_amount[taxi$passenger_count == 1:4 ]
str(totalamount)

 num [1:11700] 11.3 13.8 26.3 24.4 58.6 ...

In [16]:
mean(totalamount, na.rm=TRUE)

[1] 16.45969

In [17]:
totalamount_2 = taxi$total_amount[taxi$passenger_count == 5:6 ]

In [18]:
mean(totalamount_2, na.rm=TRUE)

[1] 16.69695

In [20]:
t.test(totalamount, totalamount_2, mu=0)

	Welch Two Sample t-test

data:  totalamount and totalamount_2
t = -0.67204, df = 2383.5, p-value = 0.5016
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.9295264  0.4550260
sample estimates:
mean of x mean of y
 16.45969  16.69695