In [10]:
#reading in data
world_data = read.csv("QoG2012.csv")

library(dplyr)
world_data <- rename(world_data, 
                     judiciary = h_j, 
                     gdp = wdi_gdpc, 
                     hdi = undp_hdi, 
                     corruption = wbgi_cce, 
                     stability = wbgi_pse, 
                     abs_lat = lp_lat_abst)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [11]:
head(world_data)

  judiciary gdp        hdi   corruption stability  former_col abs_lat
1  0          628.4074    NA -1.5453584 -1.9343837 0          0.3666667
2  0         4954.1982 0.781 -0.8538115 -0.6026081 0          0.4555556
3  0         6349.7207 0.704 -0.7301510 -1.7336243 1          0.3111111
4 NA                NA    NA  1.3267342  1.1980436 0          0.4700000
5  0         2856.7517 0.381 -1.2065741 -1.4150945 1          0.1366667
6 NA        13981.9795 0.800  0.8624368  0.7084046 1          0.1892222

In [12]:
dim(world_data)

[1] 194   7

In [13]:
str(world_data)

'data.frame':	194 obs. of  7 variables:
 $ judiciary : int  0 0 0 NA 0 NA 0 0 1 1 ...
 $ gdp       : num  628 4954 6350 NA 2857 ...
 $ hdi       : num  NA 0.781 0.704 NA 0.381 ...
 $ corruption: num  -1.545 -0.854 -0.73 1.327 -1.207 ...
 $ stability : num  -1.934 -0.603 -1.734 1.198 -1.415 ...
 $ former_col: int  0 0 1 0 1 1 0 1 0 0 ...
 $ abs_lat   : num  0.367 0.456 0.311 0.47 0.137 ...

In [14]:
# create factor variable
world_data$former_col = factor(world_data$former_col, 
  labels = c("not colonised", "was colonised"),   
  levels = c(0,1))

In [15]:
# check frequency
#check frequency
table(world_data$former_col)

not colonised was colonised
           72           122

In [21]:
# 3. find the means
mean_nc = mean(world_data$stability[world_data$former_col=="not colonised"])

mean(world_data$stability[which(world_data$former_col=="not colonised")])

[1] 0.2858409

In [22]:
mean_c = mean(world_data$stability[world_data$former_col=="was colonised"])
mean(world_data$stability[world_data$former_col=="was colonised"])

[1] -0.231612

In [23]:
#4. difference in means
fd = mean_nc - mean_c

In [24]:
fd

[1] 0.5174529

In [26]:
max(world_data$stability)

[1] 1.675609

In [27]:
min(world_data$stability)

[1] -2.467461

In [28]:
range(world_data$stability)

[1] -2.467461  1.675609

In [29]:
t.test(world_data$stability ~ world_data$former_col, mu = 0, alt = "two.sided")

	Welch Two Sample t-test

data:  world_data$stability by world_data$former_col
t = 3.4674, df = 139.35, p-value = 0.0006992
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.2224004 0.8125053
sample estimates:
mean in group not colonised mean in group was colonised
                  0.2858409                  -0.2316120